#results
    background-color: white
    border-radius: 30px
    padding: 20px
    lenght: 500px
    height: 60vh
    border: 0px

#sentiment
    display: flex
    flex-direction: row
    justify-content: space-evenly
    padding-bottom: 20px